
.mt-8{
    margin-top: 8%;
}

.mt-10{
    margin-top: 10%;
}


.mb-10{
    margin-bottom: 10%;
}

.mt-50{
    margin-top: 50%;
}


.mt-30{
    margin-top: 30%;
}


.mb-neg-5{
    margin-bottom: -31px;
}


.btn-melon-gradient{
    background: linear-gradient(to right, #ff4b1f, #ff9068);
    color: white;
    border-color: #ff9068;
}

.btn-melon-gradient:hover{
    color: white;
}


.bg-melon{
    background: linear-gradient(to right, #ff4b1f, #ff9068);
}


.text-melon-gradient{
	background: linear-gradient(to right, #ff4b1f, #ff9068);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.header-melon{
    background: linear-gradient(to right, #ff4b1f, #ff9068);
    height: 929px;
}



.font-size-35{
    font-size: 44px;
}


.box-shadow{
    box-shadow: 0px 0px 8px gray;
}
