{% extends 'main.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}


{% block content %}
<div class="container">
	<div class="card mt-5">
		<div class="card-body">
			<h1 class="text-melon-gradient">
			  Almacena tus recuerdos
			</h1>

			<form method="post" class="mt-4" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form-group">
					<input type="file"
					 name="img" 
					 class="form-control-file"
					 required>
				</div>

				<div class="form-group">
					<input type="text"
					 name="desc" 
					 class="form-control"
					 placeholder="Descripcion de tu recuerdo"
					 required>
				</div>


				<div class="form-group">
					<input type="date"
					 name="date" 
					 class="form-control"
					 required>
				</div>


				<button type="submit" class="btn btn-success btn-block">
					Guardar
				</button>

			</form>
		</div>
	</div>
</div>
{% endblock content %}