{% extends 'main.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}


{% block content %}


  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-white rounded">
    <a class="navbar-brand">Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link btn btn-melon-gradient text-light m-1" href="{% url 'cargar' %}">
            Subir Imagen
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-danger text-light m-1" href="{% url 'logout' %}">
            Cerrar Sesión
          </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link active btn btn-success text-light m-1">Usuario: {{user.username}}</a>
        </li>
        
      </ul>
    </div>
  </nav>



  <section class="container">
    
    <div class="card-columns ">
      {% for uploads in upload %}
      <div class="card mt-5">
        <img src="{{uploads.img.url}}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><small class="text-muted">{{uploads.date}}</small></p>
          <h5 class="card-title">{{uploads.desc}}</h5>

          <hr>
          <a href="{% url 'delete' uploads.id_img %}"> 
            Borrar
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </section>

{% endblock content %}