{% extends 'main.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}


{% block content %}




<div class="header-melon">
    
    <div class="container text-center font-weight-lighter text-light">

        <section>
            <article class="">
                <br><br><br><br><br><br><br>
                <img src="{% static 'img/vault.svg' %}" class="img-fluid" width="400">
                <h1 class="font-weight-lighter">Bienvenido a image vault</h1>
                <h4 class="font-weight-lighter">Guarda todas tus imagenes y accede a ellas donde sea </h4>

                <div class="row mt-5 text-center">
                    
                    <div class="col">
                        <a href="{% url 'registro' %}" class="btn btn-outline-dark">
                            Registrarse
                        </a>


                        <a href="{% url 'login' %}" class="btn btn-outline-dark">
                            Iniciar Sesión
                        </a>
                    </div>

                </div>
            </article>
        </section>
    </div>

</div>



<div class="container mt-10">
    <div class="row">

        <div class="col">
            <img src="{% static 'img/picture.svg' %}" 
            class="img-fluid" 
            width="300"
            class="">
        </div>


        <div class="col">
            <h3 class="font-size-35 font-weight-lighter mt-5">
                Guarda tus recuerdos sin tanto lío
            </h3>
        </div>
    </div>
</div>


<div class="jumbotron jumbotron-fluid mt-10">
    <div class="container">
        <div class="row">

            <div class="col">
                <h3 class="font-size-35 font-weight-lighter mt-10">
                    Almacena tus fotos de manera facil, rapida y sencilla
                </h3>
            </div>


            <div class="col text-center">
                <img src="{% static 'img/p.svg' %}" 
                class="img-fluid" 
                width="300"
                class="">
            </div>
        </div>
    </div>
</div>



<div class="container text-center mt-10  mb-10">
    <h2 class="font-size-35 font-weight-lighter">
        Usalo sin importar tu edad <br/> para toda la familia
    </h2><br>

    <img src="{% static 'img/family.svg' %}" 
        class="img-fluid" 
        width="300"
        class="">
    
</div>



<footer class="mb-neg-5">
    <div class="jumbotron jumbotron-fluid mt-10 bg-dark text-light">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                <a href="https://gitlab.com/miguellucio" target="_blank">
                    <img src="{% static 'img/gitlab.png' %}" class="img-fluid" width="50">
                    GitLab
                </a>
            </div>


            <div class="col">
                <a href="https://www.linkedin.com/in/miguel-alejandro-78a80b1a7/" target="_blank">
                    <img src="{% static 'img/link.png' %}" class="img-fluid" width="50">
                    GitLab
                </a>
            </div>
        </div><br><br>
        <p class="text-center">Hecho con &hearts; por Miguel</p>
    </div>
</footer>
{% endblock content %}


