{% extends 'main.html' %}
{% load static %}
{% block title %} Iniciar sesión {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col">
            <div class="card mt-50">
                <div class="card-body">
                    <h1 class="text-melon-gradient">
                        Iniciar Sesión
                    </h1>


                    <form method="POST" class="mt-5">
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <input type="text" 
                            class="form-control" 
                            placeholder="Username"
                            name="username">
                        </div>


                        <div class="input-group mb-3">
                            <input type="password" 
                            class="form-control" 
                            placeholder="Contraseña"
                            name="password">
                        </div>

                        
                            <button class="btn btn-melon-gradient btn-block" type="submit">
                                Iniciar Sesión
                            </button>
                         <br>

                    
                    </form>

                </div>
            </div>
        </div>


        <div class="col"></div>
    </div>
</div>
{% endblock content %}