{% extends 'main.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}


{% block content %}
<div class="container">
    <h1 class="text-melon-gradient mt-30 text-center">
        Vuelve pronto :)
    </h1>
</div>

{% endblock content %}