{% extends 'main.html' %}
{% load static %}
{% block title %} Registrate {% endblock title %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col">
            <div class="card mt-50">
                <div class="card-body">
                    <h2 class="text-melon-gradient mb-4">
                        Registrate
                    </h2>


                    {% if messages%}
                        {% for message in messages %}
                        <div class="alert alert-success mt-3" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}


                    <form method="POST">
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <input type="text" 
                            class="form-control" 
                            placeholder="Username"
                            name="username">
                        </div>


                        <div class="input-group mb-3">
                            <input type="password" 
                            class="form-control" 
                            placeholder="Contraseña"
                            name="password1">
                        </div>


                        <div class="input-group mb-3">
                            <input type="password" 
                            class="form-control" 
                            placeholder="Confirma tu contraseña"
                            name="password2">
                        </div>


                        
                        <button class="btn btn-melon-gradient btn-block" type="submit">
                            Registrarse
                        </button>
                        


                    </form>
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>





{% endblock %}